.branch {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.branch h1 {
  margin: 10px 0;
}
.branch .map {
  margin: 10px 0;
}
.branch .address {
  font-style: italic;
}
.branch .address3 {
  margin-bottom: 10px;
}
.branch .phone {
  margin-bottom: 10px;
}
.branch .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.branch .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
