<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html" %}

  <body>
    {% include "partials/header.html" %}
    <!-- about section start -->
    <div class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div><img src="/images/about-img.png" class="about_img" /></div>
          </div>
          <div class="col-md-6">
            <h1 class="about_taital">About Our Salon</h1>
            <p class="product_text">
              When it comes to looking sharp on a budget, finding an affordable
              mens salon for hair services is key. Whether you're looking for a
              subtle change or a full-on transformation, having a stylist you
              can trust to deliver high-quality results at an affordable price
              can make all the difference. We at MUSK AND TUSK have special
              affordable team to take care of you, so you can get the look you
              want without breaking the bank..
            </p>
            <div class="image_1"><img src="/images/img-1.png" /></div>
          </div>
        </div>
      </div>
    </div>
    <!-- about section end -->
    {% include "partials/footer.html" %} {% include "partials/copyright.html" %}
    {% include "partials/page-scripts.html" %}
  </body>
</html>
