<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html" %}

  <body>
    {% include "partials/header.html" %}
    <!-- banner section start -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
      <div class="container-fluid">
        <div class="contact_section_2">
          <div class="row">
            <div class="col-md-12">
              <h1 class="product_taital">
                Would you like to partner with us for our next SHOP?
              </h1>
              <p class="product_text" style="font-size: 25px">
                We are just one call away. Please contact +91 9994574613, +91 9942871426 anytime
                between 9am - 9pm on all days.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact section end -->
    {% include "partials/footer.html" %} {% include "partials/copyright.html" %}
    {% include "partials/page-scripts.html" %}
  </body>
</html>
