<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html" %}

  <body>
    {% include "partials/header.html" %}
    <!-- banner section start -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
      <div class="container-fluid">
        <div class="contact_section_2">
          <div class="row">
            <div class="col-md-12">
              <p class="product_text" style="font-size: 25px">
                Save big on your next salon visit with our irresistible combo
                offers!.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="image_7"><img src="/images/combo_1.jpg" /></div>
            </div>
            <div class="col-md-6">
              <div class="image_7"><img src="/images/combo_02.png" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact section end -->
    {% include "partials/footer.html" %} {% include "partials/copyright.html" %}
    {% include "partials/page-scripts.html" %}
  </body>
</html>
