<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html" %}

  <body>
    {% include "partials/header.html" %}
    <!-- product section start -->
    <div class="product_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="product_taital">Our Services</h1>
            <p class="product_text" style="font-size: 25px">
              Transform yourself into a work of art at our salon - where our
              team of expert stylists and beauty professionals will enhance your
              natural beauty and leave you feeling confident, refreshed, and
              ready to take on the world!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="image_main">
                  <img src="/images/img-2.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Mens Haircut <br /><span style="color: #f75261"
                    >Rs: 99 and up</span
                  >
                </h6>
              </div>
              <div class="item">
                <div class="image_main">
                  <img src="/images/kidshaircut.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Kids Haircut <br /><span style="color: #f75261"
                    >Rs: 99 and up</span
                  >
                </h6>
              </div>
              <div class="item">
                <div class="image_main">
                  <img src="/images/shave.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Shave <br /><span style="color: #f75261">Rs: 49 and up</span>
                </h6>
              </div>
              <div class="item">
                <div class="image_main">
                  <img src="/images/detan.jpg" alt="image" />
                </div>
                <h6 class="price_text">
                  Detan <br /><span style="color: #f75261">Rs: 149 and up</span>
                </h6>
              </div>
              <div class="item">
                <div class="image_main">
                  <img src="/images/headmassage.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Head Massage <br /><span style="color: #f75261"
                    >Rs: 170 and up</span
                  >
                </h6>
              </div>
              <div class="item">
                <div class="image_main">
                  <img src="/images/coloring.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Hair Color <br /><span style="color: #f75261"
                    >Rs: 199 and up</span
                  >
                </h6>
              </div>
              <div class="item">
                <div class="image_main">
                  <img src="/images/bridal.png" alt="image" />
                </div>
                <h6 class="price_text">
                  Bridal<br /><span style="color: #f75261"
                    >Rs: 1999 and up</span
                  >
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- product section start -->
    {% include "partials/footer.html" %} {% include "partials/copyright.html" %}
    {% include "partials/page-scripts.html" %}
  </body>
</html>
